html {
  font-size: 100%;
}

body {
  font-size: 0.9375rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  color: #666;
  padding: 0;
}

.topspace {
  margin-top: 40px;
}

/* Navigation in Header */
.navbar {
  border-width: 1px 0;
  border-radius: 0;
  background-clip: padding-box;
  width: 100%;
}

.navbar.stick {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.85;
}

.navbar-collapse {
  border-radius: 0;
  background-clip: padding-box;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.navbar-collapse .navbar-nav {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.navbar-collapse .navbar-nav > li {
  float: none;
  display: inline-block;
}

.navbar-collapse .navbar-nav > li > a {
  padding: 20px 30px;
}

.dropdown ul.dropdown-menu {
  top: 85%;
  text-align: left;
}

.dropdown ul.dropdown-menu > li > a {
  padding: 5px 30px;
}

.navbar-default {
  background-color: #fff;
  border-color: #ccc;
}

.navbar-default .navbar-nav > li > a {
  color: #454545;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000;
  background-color: #fff;
}

/* Sidebar Navigation */
.nav-side {
  font-size: 1.5rem;
  font-weight: 300;
  margin-top: -0.37em;
}

.nav-side > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
  color: #f392b4;
}

.nav-side > li > a:hover {
  color: #bd1550;
  background: none;
}

.nav-side > li.active > a {
  color: #bd1550;
}

/* Typography */
p, ul, ol {
  line-height: 1.6em;
  margin: 0 0 30px 0;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 30px;
  border-left: 5px solid #eee;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #333;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 1.875rem; }
h4 { font-size: 1.5rem; }
h5 { font-size: 1.25rem; }

a {
  color: #bd1550;
}

a:hover {
  color: #e93675;
}

/* Header */
#head {
  background: #f4f4f4 url(bg_head.jpg) top center;
  background-size: cover;
  color: #7C7C7C;
  padding: 30px 0 35px;
}

#head img.img-circle {
  display: block;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 9px solid rgba(0, 0, 0, 0.05);
  margin: 0 auto;
}

#head .title {
  font-family: Alice, Georgia, serif;
  font-size: 3.0625rem;
}

#head .title a {
  text-decoration: none;
  color: #333;
}

#head .tagline {
  display: block;
  font-size: 0.875rem;
  line-height: 1.2em;
  color: #7C7C7C;
  margin: 5px 0 0;
}

/* Content */
img {
  max-width: 100%;
}

.btn {
  font-size: 0.75rem;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  border-radius: 0;
  transition: all 0.2s;
  border: none;
  padding: 12px 35px;
  text-shadow: 0 1px 0px #780d33;
}

.btn-primary {
  color: #fff;
  background-color: #bd1550;
}

.btn-primary:hover {
  background-color: #e61f65;
}

.btn-action {
  font-weight: bold;
  background: transparent!important;
  border: 1px solid #333;
  text-shadow: none;
}

.btn-action:hover {
  color: #bd1550;
  border-color: #bd1550;
}

/* Pagination */
.pagination > li > a {
  color: #808080;
  font-size: 1.25rem;
  font-family: Georgia, serif;
}

.pagination > li > a:hover {
  color: #000;
}

.pagination > li.active > a {
  color: #333;
}

.pagination > li.active > a:hover {
  color: #000;
}

/* Comments */
#comments {
  font-size: 0.8125rem;
}

#comments .avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
  border: 5px solid #eee;
  border-radius: 50%;
}

#comments .comment-meta a:hover {
  color: #bd1550;
}

#comments .comment-body {
  margin: 0 0 35px 90px;
}
